root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = false
max_line_length = 72
tab_width = 4

[{*.har,*.json,*.jsonc,.prettierrc}]
indent_size = 2
indent_style = space

[{*.markdown,*.md}]
indent_style = space
max_line_length = unset

[{*.py,*.pyw}]
indent_style = space

[{*.toml,Cargo.lock,Cargo.toml.orig,Gopkg.lock,Pipfile,poetry.lock,uv.lock}]
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = unset
